$popup-block: #e6e6e6;
$popup-wrapper: #dddce3;
html {
  font-size: 1px;
  &::-webkit-scrollbar-thumb {
    // border: 1px solid #4320cf;
    background: #4320cf;
    border-radius: 50rem;
  }
  &::-webkit-scrollbar {
    width: 2rem;
    opacity: 0.3;
    height: 100vh;
  }
}
body {
  position: relative;
}
a {
  text-decoration: none;
  text-transform: none;
  color: white;
}
li {
  list-style: none;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.adaptive-text {
  font-size: 10rem !important;
}
.loader {
  height: 100vh;
  &__wrapper {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      animation: loading 1s infinite;
    }
  }
}

.selected-action {
  background: #4320cf !important;
  color: white !important;
  max-height: 41rem;
  max-width: 162rem;
  height: 100% !important;
  width: 100% !important;
  border-radius: 7rem !important;
}
.selected {
  color: #7a59ff;
}
.unselected {
  &:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }
}
.nav-link {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
}
.header {
  background: #2d1c73;
  color: white;
  padding: 17px;
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  ul {
    display: flex;
    li {
      list-style-type: none;
      cursor: pointer;
    }
  }
  img {
    cursor: pointer;
  }
  &__nav {
    ul {
      gap: 15px;
    }
    li {
      font-size: 16rem;

      padding: 11px 15px 12px 15px;
    }
  }
  &__contacts {
    ul {
      gap: 15px;
    }
    li {
      border: 1px solid rgba(255, 255, 255, 0);
      border-radius: 10px;
      font-size: 16rem;
      padding: 6px 15px 7px 15px;
      &:hover {
        border: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
}
.aside {
  position: relative;
  transition: all 0.5s ease 0s;
  &__container {
    position: relative;
  }
  &__wrapper {
    transition: height 0.25s ease-in;
    transition: max-height 0.25s ease 0s;
    overflow-y: auto;
    position: relative;
    background: #ffffff;
    max-width: 335px;
    width: 100%;
    padding-top: 15rem;
    padding-bottom: 60rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    &::-webkit-scrollbar {
      width: 3rem;
      opacity: 0.5;
      height: inherit;
    }
    &::-webkit-scrollbar-thumb {
      border: 1px solid #4320cf;
      background: #4320cf;
      border-radius: 50rem;
    }
  }
  ul {
    div {
      font-size: 16rem;
      transition: all 0.3s ease;
      cursor: pointer;
      padding: 15.47px 0 15.47px 30px;
      border-left: 10px solid transparent;
      &:hover {
        background: #f5f4fc;
      }
    }
  }
}

.active-list {
  background: #f5f4fc;
  border-left: 10px solid #4320cf !important;
  color: #4320cf;
  font-weight: 700;
}
.main {
  &__content {
    margin-left: 40rem;
  }
  &__wrapper {
    position: relative;
    padding: 30rem 50rem 0rem;
    margin: 0 auto;
    max-width: 1600rem;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 150rem);
    position: relative;
  }
  &__container {
    display: grid;
    grid-template-columns: minmax(170rem, 335rem) 1125rem;
  }
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease 0s;
}

.cards {
  overflow-y: auto;
  // overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 3rem;
    opacity: 0.5;
    height: 160rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid #4320cf;
    background: #4320cf;
    border-radius: 50rem;
  }
  &__filter {
    font-size: 32rem;
    line-height: 37rem;
    color: #000000;
    margin-bottom: 25rem;
    font-weight: 400;
  }
  position: relative;
  max-height: calc(100vh - 428rem);
  padding: 30rem 30rem;
  padding-top: 37.5rem;
  &__image {
    width: 20rem;
    height: 20rem;
  }
  &__wrapper {
    position: relative;
  }

  &__popup {
    padding: 20rem 0 34rem 0;
    display: flex;
    text-align: center;
    max-width: 150rem;
    flex-direction: column;
    max-height: 186rem;
    width: 100%;
    height: 100%;

    border-radius: 10px;
    position: absolute;
    left: 85%;
  }

  h1 {
    font-size: 32rem;
    font-weight: 400;
    margin-bottom: 25rem;
  }

  &__select {
    color: #4320cf;
    font-size: 16rem;
    cursor: pointer;
    display: inline;
    padding-bottom: 10rem;
    user-select: none;
    &_value {
      padding: 10rem 0;
      cursor: pointer;
      font-size: 16rem;
      &:hover {
        background-color: #4320cf;
        color: white;
      }
    }
  }

  margin-top: 12.5rem;
  font-size: 20rem;
  background: #ffffff;
  max-width: 1125px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  &__component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15rem 10rem;
  }
  &__top {
    display: flex;
    margin-top: 20rem;
  }
  &__card {
    max-width: 342px;
    max-height: 153px;
    padding-left: 20rem;
    padding-right: 20rem;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    &:hover {
      border: 1px solid #4320cf;
      transition: all 0.15s ease-in-out;
    }
    &_wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  &__line {
    margin: 30rem 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    max-width: 1065px;
    width: 100%;
  }
  &__currency {
    display: flex;
    margin-top: 42rem;
    margin-bottom: 20rem;
    width: 100%;
    justify-content: flex-end;
    gap: 5rem;
    max-width: 342px;
    width: 100%;
    &_value {
      max-width: 56px;
      font-size: 12rem;
      max-height: 34px;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: flex;
      padding: 10rem 15rem 10rem 15rem;
      justify-content: center;
      align-items: center;
      &:hover {
        background: #4320cf;
        color: #ffffff;
        transition: all 0.15s ease-in-out;
      }
    }
  }
  &__logo {
    // padding: 10rem;
    border-radius: 50px;
    // border: 1px solid #333;
    margin-right: 10rem;
  }
}

.footer {
  max-width: 100vw;
  max-height: 75px;
  display: flex;
  height: 100%;
  padding: 29rem 0 29rem 0;
  width: 100%;
  // position: fixed;
  color: white;
  font-size: 20rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50rem;
  background: #151515;
}
.disabled {
  cursor: not-allowed;
}
.main__wrapper {
  font-size: 20rem;
}
.d-none {
  display: none !important;
  transition: all 0s ease 0.1s;
}
.bg-popup-block {
  background-color: $popup-block !important;
  input {
    background-color: $popup-block !important;
  }
}
.bg-popup-wrapper {
  background-color: $popup-wrapper;
}
.aside__popup {
  .active-list {
    background: $popup-wrapper;
  }
  ul {
    div {
      &:hover {
        background: $popup-wrapper !important;
      }
    }
  }
}

.table {
  margin-bottom: 40rem;
  position: relative;
  padding: 30rem 30rem 59rem 30rem;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 1125rem;
  width: 100%;
  margin-top: 20rem;
  &__hide {
    top: 97%;
    left: 94%;
    width: 40rem;
    height: 40rem;
    border-radius: 50rem;
    background: #ffffff;
    border: 1px solid rgba(67, 32, 207, 0.5);
    position: absolute;
    &:hover {
      background: #4320cf;
      cursor: pointer;
      img {
        content: url("/assets/hover__sort.svg");
      }
    }
  }
  &__heading {
    font-size: 12rem;
  }
  &__wrapper {
    &::-webkit-scrollbar {
      width: 3rem;
      opacity: 0.5;
      height: inherit;
    }
    &::-webkit-scrollbar-thumb {
      border: 1px solid #4320cf;
      background: #4320cf;
      border-radius: 50rem;
    }
  }
  &__content {
    font-size: 14rem;
    ul {
      cursor: pointer;
      &:hover {
        background: #f5f4fc;
        border-bottom: 1px solid transparent;
        .table__error {
          content: url("/assets/hover__error.svg");
        }
      }
    }
    div {
      background: transparent;
      padding-top: 25px;
      padding-bottom: 43px;
    }
  }
  &__container {
    ul {
      &:last-child {
        border: none;
      }
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    button {
      border: none;
      cursor: pointer;
    }
  }
  &__error {
    content: url("/assets/error.svg");
  }
  &__header {
    border: none !important;
  }
}
.about {
  transition: all 1s ease 3s;
  margin-bottom: 40rem;
  padding: 10rem 30rem 40rem 30rem;
  max-width: 1125rem;
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  &__wrapper {
    div {
      display: flex;
      justify-content: space-between;
      padding: 20rem 0;
      &:first-child,
      &:nth-child(2) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      img {
        cursor: pointer;
        user-select: none;
      }
      h1 {
        font-size: 32rem;
        font-weight: 400;
        cursor: pointer;
        user-select: none;
      }
      p {
        max-width: 498rem;
      }
    }
  }
}
.rotate-dropdown {
  transform: rotate(180deg);
}
.display-none {
  display: none;
}
.relative-list {
  max-width: 264rem;
  position: relative;
}
.absolute-list {
  position: absolute;
  top: 35%;
  left: 80%;
}
.container {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.more {
  min-height: 200rem;
  margin-bottom: 60px;
  padding: 30rem 0 128rem 30rem;
  &__heading {
    margin-bottom: 56rem;
  }
  &__grid {
    ul {
      display: grid;
      justify-items: start;
      grid-template-columns: repeat(3, 1fr);
      li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 20rem;
        margin-bottom: 20rem;
        cursor: pointer;
        &:hover {
          background: #f5f4fc;
          border-radius: 10px;
          border: none;
        }
      }
    }
  }
}
.bg-white {
  background: #ffffff;
}
.direction-footer {
  margin-top: 105rem;
}
.visible-none {
  display: none;
}
.clear {
  font-size: 12rem;
  line-height: 16rem;
  font-weight: 400;
  color: #000000;
  opacity: 0.4;
  text-decoration: underline;
  margin: 15rem 0 0 30rem;
  cursor: pointer;
}
.hide-button {
  background: #ffffff;
  border: 1px solid rgba(67, 32, 207, 0.5);
  border-radius: 50px;
  padding: 11.5rem 16rem;
  cursor: pointer;
  position: absolute;
  top: 95%;
  left: 40%;
  &:hover {
    background: #4320cf;
    cursor: pointer;
    img {
      content: url("/assets/hover__sort.svg");
    }
  }
}
.rotate-180 {
  transform: rotate(180deg);
}
.error {
  position: fixed;
  left: 25vw;
  top: 0vh;
  z-index: 5;
  max-width: 1126rem;
  max-height: 990rem;
  background: white;
  width: 100%;
  border-radius: 10rem;
  padding: 30rem 30rem 40rem 0;
  &__wrapper {
    position: relative;
  }
  &__hide {
    border-radius: 50px;
    background: transparent !important;
    border: 1px solid #ffffff;
    padding: 9.5rem 11rem;
    left: 110%;
    top: 25%;
    cursor: pointer;
    position: absolute;
    z-index: 6;
  }
  h1 {
    padding-left: 30rem;
    margin-bottom: 45rem;
    font-size: 32rem;
    line-height: 37rem;
    font-weight: 400;
  }
  &__inputs {
    padding-left: 30rem;
    display: flex;
    gap: 20rem;
    margin-bottom: 40rem;
    p {
      font-size: 12rem;
      margin-bottom: 10rem;
    }

    input {
      background: #ffffff;
      border: 1px solid #000000;
      border-radius: 10px;
      max-width: 523rem;
      max-height: 57rem;
      width: 100%;
      height: 100%;
      padding: 19rem 0 20rem 20rem;
      font-size: 16rem;
      &:focus {
        outline: none;
      }
    }
    div {
      width: 100%;
    }
  }
  &__grid {
    p:last-child {
      margin-top: 20rem;
      margin-bottom: 40rem;
    }
    p {
      padding-left: 30rem;
    }
    font-size: 16rem;
    span {
      opacity: 0.4;
    }
    ul {
      border-bottom: 1px solid #cccccc94;
      padding-left: 30rem;
      &:hover {
        background: #4320cf;
        color: white;
        border-bottom: 1px solid transparent;
      }
      div {
        padding: 21rem 0 20rem 0;
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  &__commentary {
    p {
      font-size: 12rem;
      margin-bottom: 10rem;
    }
    padding-left: 30px;
    textarea {
      padding: 19rem 0 0 20rem;
      font-size: 16rem;
      max-width: 1066rem;
      max-height: 113rem;
      min-height: 113rem;
      border-radius: 10px;
      border: 1px solid #000000;
      background: #ffffff;
      width: 100%;
      height: 100%;
      margin-bottom: 50rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    button {
      margin-left: 553rem;
      background: #4320cf;
      border-radius: 10px;
      max-width: 523rem;
      max-height: 57rem;
      width: 100%;
      color: white;
      padding: 19rem 0 20rem 0;
      border: 1px solid #4320cf;
      cursor: pointer;
      height: 100%;
      margin-bottom: 28rem;
    }
    p {
      margin-left: 553rem;
      color: #b1b1b1;
      font-size: 14rem;
      max-width: 506rem;
    }
  }
}
.overlay {
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  // max-width: 100vw;
  max-width: 100%;
  top: 0%;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  &__wrapper {
    position: relative;
    height: 100%;
  }
}
.aside-hidden {
  max-height: 120rem !important;
  height: 100%;
  transition: height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
}
.table-hidden {
  max-height: 220rem;
  overflow-y: auto;
  height: 100%;
}

.city {
  max-width: 1126rem;
  max-height: 388rem;
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 20vw;
  top: 20vh;
  &__select-name {
    font-size: 12rem;

    margin-bottom: 10rem;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    button {
      cursor: pointer;
      width: 40rem;
      height: 40rem;
      border-radius: 50rem;
      background: transparent;
      border: 1px solid #999999;
      outline: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  &__wrapper {
    padding-left: 30rem;
    padding-top: 30rem;
    padding-right: 30rem;
    h1 {
      font-size: 32rem;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    position: relative;;
    margin-bottom: 28rem;
    &::after {
      top: 110rem;
      // position: fixed;
      content: "";
      width: 1128rem;
      height: 1rem;
      margin-top: 28rem;
      background: rgba(0, 0, 0, 0.4);
    }
    input {
      max-width: 523rem;
      max-height: 57rem;
      border: none;
      outline: none;
      // margin-bottom: 12rem;
      text-indent: 5rem;
      cursor: pointer;
      border-radius: 10px;
      padding: 19rem 0 20rem 20rem;
      font-size: 16rem;
      width: 100%;

      line-height: 57rem;
      height: 100%;
      option {
        padding: 20rem 0 20rem 20rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        text-indent: 5rem;
        width: 20rem;
        border-radius: 10rem;
      }
    }
  }
  &__select {
    max-width: 523rem;
    width: 100%;
    margin-right: 10rem;
  }
  &__map {
    font-size: 16rem;
    color: #4320cf;
    cursor: pointer;
    text-decoration: underline;
  }
  &__send {
    background: #4320cf;
    border-radius: 10px;
    color: white;
    border: none;
    width: 523rem;
    height: 57rem;
    cursor: pointer;
  }
  &__form {
    display: flex;
    justify-content: flex-end;
  }
  &__input{
    ul{
      visibility: hidden;
    }
  }
  &__dropdown {
    font-size: 16rem;
    transition: all 0.25s ease 0s;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
    &::-webkit-scrollbar {
      width: 1rem;
      opacity: 0.3;
      height: 100vh;
    }
    &::-webkit-scrollbar-thumb {
      background: #4320cf;
      border-radius: 100rem;
    }

   p{
    padding: 20rem 0 20rem 20rem;
    border-top: 1px solid #999999;
    cursor: pointer;
   }
  }
}
.ab {
border: none!important;
// border:1px solid red;
border-bottom: 1px solid #999999 ;

outline: none!important;
}
